# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-wheel-metadata/

# Streamlit
.streamlit/

# Data
/data/*.csv
/data/*.xlsx

# Models
/models/*.joblib

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db